
    label {
      margin: 0px;
    }
    
    body:before {
      background-size: cover;
      background-image: url("../Images/main_service.jpg");
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: .4;
      z-index: -1;
    }
    
    .main-container {
      background: rgba(34, 34, 34, 0.7);
      display: flex;
      justify-content: space-around;
      margin: 10px;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .container {
      position: absolute;
      top: 25%;
      left: 0;
      right: 0;
      width: 400px;
      background-color: lightgray;
      padding: 0px 20px;
      border-radius: 0.5em;
      height: 350px;
      opacity: 0.9;
      margin: auto;
    }
    .table-box .tab-panel{
      margin: 20px 0px;
    }
    .table-box .project-panel .selectprojectlist{
      cursor: pointer;
      height: calc(2.25rem + 2px);
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      width: 100%;
    }
    .table-box .project-panel .btn-select-project{
      color: #fff;
      background-color: #007bff;
      border-color: #007bff;
      padding: 10px 20px;
      border-radius: 3px;
      border-style: none;
      margin-top: 10px;
    }
    .btn-select-project:hover{
      background-color: #09904a;
      border-color: #09904a;
      border-style: none;
    }
    .btn-select-project:active{
      background-color: orange;
      border-color: orange;
      color: black;
      border-style: none;
    }
    .table-box .tab-panel div.panel {
      display: none;
      background-color: #c9c9c9;
      padding: 10px;
      border-radius: 0 5px 5px 5px;
      overflow-y:auto;
      height: 260px;
    }
    .table-box .tab-panel div.panel.active {
      display: block;
    }
    select#selectprojectlist{
        width: 100%;
        height: calc(2.25rem + 2px);
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
    }
    .table-box .project-panel{
        margin: 20px 0px;
        height:319px;
    }