label {
    margin: 0px;
  }
  
  body:before {
    background-size: cover;
    background-image: url("../Images/main_service.jpg");
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
    z-index: -1;
  }
  
  .main-container {
    background: rgba(34, 34, 34, 0.7);
    display: flex;
    justify-content: space-around;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    width: 400px;
    background-color: lightgray;
    padding: 0px 20px;
    border-radius: 0.5em;
    height: 350px;
    opacity: 0.9;
    margin: auto;
  }
  
  .container#forgotpassword{
    display: none;
  }
  
  .table-box .tab-panel{
    margin: 20px 0px;
  }
  .table-box .tab-panel ul.tabs {
    margin: 0px;
    padding: 0px;
  }
  
  .table-box .tab-panel ul.tabs li {
    display: inline-block;
    list-style-type: none;
    background-color: #999;
    margin: 0px;
    padding: 7px 20px;
    border-radius: 5px 5px 0 0;
    color: white;
    font-weight: 200px;
    cursor: pointer;
  }
  
  .table-box .tab-panel ul.tabs li.active, .table-box .tab-panel ul.tabs li:hover {
    background-color: #666;
  }
  
  @media screen and (max-width: 460px) {
    .table-box .tab-panel ul.tabs li {
      padding: 7px 10px;
      font-size: 15px;
    }
  }
  
  .table-box .tab-panel div.panel {
    display: none;
    background-color: #c9c9c9;
    padding: 10px;
    border-radius: 0 5px 5px 5px;
    overflow-y:auto;
    height: 290px;
  }
  
  .table-box .tab-panel div.panel.active {
    display: block;
  }
  
  .btn-link{
    color: blue !important;
    text-decoration: none;
  }
  .btn-link:hover{
    text-decoration: underline;
    cursor: pointer;
    
  }
  
  input {
      height: calc(2.25rem + 2px);
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      width: 100%;
  }
  
  label {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 3px;
  }
  .form-group{
      margin:0px;
  }
  .tab-pane {
      line-height: 35px;
  }
  
  .MainLicense{
    text-align: center;
    padding: 160px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100% - 320PX);
  }
  
  .headerLicense h1{
    /* color: #262626; */
    color: #7C0A02;
  
    /* font-family: Georgia, serif; */
    /* font-family: serif; */
    font-family: system-ui;
    background:;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 45px;
  }
  
  .headerLicense h2{
    color: #262626;
    font-family: system-ui;
    background;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
    text-align: center;
  }
  
  form{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    width: 300px;
    height: 200px;
    /* border: 4px dashed #fff; */
    background-color: #525252a4;
    border-radius: 20px;
    background-image: url(../Images/cloud-computing.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  form p{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 170px;
    color: #ffffff;
    font-family: Arial;
  }
  
  form input{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    left: 0px;
    outline: none;
    opacity: 0;
  }
  
  form input:hover{
    cursor: pointer;
  }
  
  form button{
    display: none;
    margin: 0;
    color: #fff;
    background: #16a085;
    border: none;
    width: 100px;
    height: 35px;
    margin-top: -20px;
    margin-left: -4px;
    border-radius: 4px;
    border-bottom: 4px solid #117A60;
    transition: all .2s ease;
    outline: none;
  }
  
  form button:hover{
    background: #149174;
    color: #0C5645;
    cursor: pointer;
  }
  
  form button:active{
    border:0;
  }
  
  .licenseFail{
    display: none;
    border-radius: 10px;
    position: relative;
    top: 260px;
    width: 280px;
    background: #ff0000ab;
    padding: 0px 10px;
    animation-name: glow;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
  }
  
  .licenseSuccess{
    display: none;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    width: 100%;
  }
  
  video#reveronVideo{
    height: 100%;
    transform: scale(1.5);
  }
  
  .loadingcontainer-mainadmin{
    display: none;
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1b1b1be0;
    text-align: center;
    z-index: 1;
  }
  
  .loader {
    position: relative;
    border: 20px solid #f3f3f3;
    border-top: 20px solid #3498db;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    top: calc(50% - 111px);
    left: calc(50% - 111px);
  }
  
  #loadingText{
    width: 300px;
    text-align: center;
    position: absolute;
    top: calc(50% + 0px);
    left: calc(50% - 140px);
    color: white;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  @keyframes glow {
    0% { background:#ff000079;}
    20% { background:#ff0000a9;}
    100% { background:#ff000079;}
  }
  
  
  h4{
    text-align: center;
    margin: 5px 0;
  }
  .row_img{
    text-align: center;
    margin: 25px 0 10px 0;
  }
  
  .row_img img{
    height: 40px;
  }
  
  .row.form-group.new_user{
      display:flex;
      justify-content: space-between;
      margin-top: 20px;
  }
  .btn.btn-primary{
      color: #fff;
      background-color: #007bff;
      border-color: #007bff;
      padding: 10px 20px;
      border-radius: 3px;
      border-style: none;
      float: right;
      margin: 10px 0;
  }
  
  .btn.btn-back{
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: 15px 20px;
    border-radius: 3px;
    border-style: none;
    float: left;
    background-image: url(../Images/icons/login/arrow.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
  }
  
  .btn.btn-primary:hover{
      background-color: #09904a;
      border-color: #09904a;
      border-style: none;
  }
  .btn.btn-primary:active{
      background-color: orange;
      border-color: orange;
      color: black;
      border-style: none;
      
  }
  .double_row.row.form-group{
      display: flex;
      width: 100%;
  }
  .col-md-6{
      width: 50%;
  }
  select#country,select#role{
      width: 100%;
      height: calc(2.25rem + 2px);
      border: 1px solid #ced4da;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
  }
  select#role{
      margin-bottom: 20px;
  }
  
  