
Data/*
!/Data/sample
*.kml
Data/Project_Icon
Data/KML
desktop.ini
BackEnd/php_errors.log
php_errors.log
BackEnd/cafm_connect.php
BackEnd/progress.txt
BackEnd/doc_temp
BackEnd/cafm_connect.php
*.kmz
*.css.map
CSS/dark_red/addnewuserForm.css
CSS/dark_red/addnewuserprojectForm.css
CSS/dark_red/clickable.css
CSS/dark_red/forms.css
CSS/dark_red/homepage.css
CSS/dark_red/navbaranimaton.css
CSS/dark_red/sysadminpage.css
CSS/dark_red/adminpage.css
CSS/dark_red/userViewProfile.css
CSS/dark_red/postlogin.css
CSS/dark_red/finance.css
CSS/dark_red/doc.css
CSS/dark_red/dashboard.css
CSS/light_color/addnewuserForm.css
CSS/light_color/addnewuserprojectForm.css
CSS/light_color/clickable.css
CSS/light_color/forms.css
CSS/light_color/homepage.css
CSS/light_color/navbaranimaton.css
CSS/light_color/sysadminpage.css
CSS/light_color/adminpage.css
CSS/light_color/userViewProfile.css
CSS/light_color/postlogin.css
CSS/light_color/finance.css
CSS/light_color/doc.css
CSS/light_color/dashboard.css
Login/app_properties.php

API/getLayers.php
Login/app_properties.php
BackEnd/class/PHPExcel
BackEnd/class/PHPExcel.php

#START FOR V3 HAVE TO UNCOMMIT
index.php
admin.php
doc.php
finance.php
systemadmin.php

#Templates/*
!Templates/KKR/*
!Templates/OBYU/*
#END FOR V3 HAVE TO UNCOMMIT
*.part1
