/* Custom variables */
body {
  --primary: #2f3e5a;
  --primary-dark: #273145;
  --primary-darken: #1e2738;
  --primary-darkest: #0d1118;
  --secondary: #ff794e;
  --surface: #F5F5F6;
  --top: #ffffff;
  --on-primary: #ffffff;
  --on-surface: #2f3e5a;
  --on-disable: #66666d;
  --border-bottom: #455A64;
  --border-light: #bdbdbd63;
  --background: #E1E2E1;
  --backdrop: #ffffffb6;
}

body {
  background-color: var(--surface);
  color: var(--on-surface);
  overflow: hidden;
}
body.login {
  background-color: var(--top);
}

/* Custom Scroll */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-darken);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-darkest);
  cursor: grab;
}

* {
  scrollbar-color: var(--primary) var(--primary-darken);
  scrollbar-width: thin;
}

/* Custom Scroll */
.img-custom {
  height: auto;
  width: 100%;
}

/* Left Container */
.left-container {
  display: flex;
  padding: unset;
  background-color: var(--primary);
  color: var(--on-primary);
  text-align: left !important;
  height: 100%;
  width: 60%;
  flex-direction: column;
}
.left-container .img-logo {
  width: 10rem;
}
.left-container .img-slider {
  height: 65%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.left-container .img-slider .img-background {
  background-color: rgba(47, 62, 90, 0.5);
  height: 100%;
  position: absolute;
  width: 100%;
}
.left-container .img-slider .img-background h4 {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  margin-left: 2rem;
  text-align: left;
}
.left-container .img-slider .img-background h4:hover {
  cursor: default;
}
.left-container .detail-slider {
  height: 35%;
  width: 70%;
  font-size: 0.8rem;
  margin: 0px 15%;
}
.left-container .detail-slider .left-container {
  width: 30%;
  height: 100%;
}
.left-container .detail-slider .right-container {
  width: 70%;
  height: calc(100% - 10px);
  background: unset;
}
.left-container ul {
  list-style-type: none;
  padding-left: unset;
}
.left-container ul li {
  margin-right: 0.7rem;
}
.left-container ul li a {
  color: var(--on-primary);
}
.left-container ul li a img {
  width: 1.2rem;
  margin-right: 2px;
}

/* Right Styles */
.right-container {
  margin: 5px;
  height: calc(100% - 10px);
  width: calc(40% - 10px);
  background: radial-gradient(90% 30% at 50% 60%, rgba(0, 0, 0, 0.14) 0%, rgba(86, 86, 91, 0.09) 35%, rgb(255, 255, 255) 100%);
}
.right-container .form-label {
  margin-left: 0px !important;
  transform: translateY(-1.25rem) translateY(0.1rem) scale(0.8) !important;
}

/* Content Styles */
#viewport {
  height: 100vh;
  overflow: hidden;
  padding-left: 0px;
  transition: all 0.5s ease;
}

#content {
  width: calc(100% - 250px);
  height: 100%;
  position: relative;
  margin-right: 0;
}

#iframeContainer {
  height: 100%;
}
#iframeContainer #headerElement {
  display: none;
  width: 100%;
  height: 3.5rem;
  padding: 0px 2rem;
}
#iframeContainer #headerElement select {
  width: auto;
  min-width: 8rem;
  max-width: 70%;
  padding: 0.475rem 0.25rem 0.4225rem 0.25rem;
  border-radius: 4px;
  border: none;
  background: var(--top);
  color: var(--on-surface);
  font-family: inherit;
  line-height: 1.5;
  outline: none;
  margin: auto 0 auto 1rem;
  font-size: 0.85rem;
  box-shadow: 0 4px 9px -4px rgba(0, 0, 0, 0.35);
}
#iframeContainer #headerElement select:hover {
  cursor: pointer;
}
#iframeContainer #viewElement {
  margin: 10px;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
}
#iframeContainer #viewElement.dashboard {
  margin: 0px;
  width: 100%;
  height: 100%;
}
#iframeContainer #viewElement.utilization {
  margin: 10px;
  height: calc(100% - 3.5rem - 20px);
  width: calc(100% - 20px);
}

.loginNavBtn {
  color: var(--on-primary);
  font-weight: 600;
}
.loginNavBtn:hover {
  color: var(--secondary);
  transition: color 0.15s ease-in-out;
}

#navbarContainer {
  display: block;
  background-color: var(--primary);
  color: var(--on-primary);
  height: 3.5rem;
  box-shadow: 0px 0px 5px rgba(41, 41, 41, 0.7607843137);
}
#navbarContainer #navbarLogo {
  height: 2rem;
  position: relative;
  top: 0.3rem;
}
#navbarContainer #navbarLogo:hover {
  cursor: pointer;
}
#navbarContainer .navbar-nav {
  flex-direction: row;
}
#navbarContainer .nav-item a {
  font-weight: 600;
}
#navbarContainer .nav-item a:hover {
  color: var(--secondary);
}
#navbarContainer .nav-item .dropdown-item {
  border-bottom: 1px solid #B2C4CC;
}
#navbarContainer .nav-item .dropdown-item.no-border {
  border-bottom: unset;
}
#navbarContainer .nav-item .dropdown-item, #navbarContainer .nav-item .nodropdown-item {
  position: relative;
}
#navbarContainer .nav-item .dropdown-item.active, #navbarContainer .nav-item .nodropdown-item.active {
  color: var(--secondary);
}
#navbarContainer .nav-link {
  color: var(--on-primary);
  padding-right: var(--mdb-navbar-nav-link-padding-x);
  padding-left: var(--mdb-navbar-nav-link-padding-x);
}

/* Content Styles */
/* Sidebar Styles */
#sidebarContainer {
  display: block;
}

#sidebar {
  z-index: 10;
  position: fixed;
  right: 0px;
  width: 250px;
  height: 100%;
  margin-right: -250px;
  overflow-y: auto;
  background: var(--primary);
  transition: all 0.5s ease;
  box-shadow: 0px 0px 5px rgba(41, 41, 41, 0.7607843137);
}
#sidebar.opened {
  right: 250px;
}
#sidebar .userInfo {
  display: flex;
  justify-content: space-between;
  margin: 0px 0.5rem;
}
#sidebar #sidebarLogo {
  height: 1.5rem;
  margin-right: 2px;
}
#sidebar header {
  background-color: var(--primary-darken);
  font-size: 1rem;
  line-height: 3rem;
  text-align: center;
  position: relative;
}
#sidebar header:hover {
  cursor: default;
}
#sidebar header a {
  color: var(--on-primary);
  display: block;
  text-decoration: none;
}
#sidebar header a:hover {
  color: var(--on-primary);
  cursor: default;
}
#sidebar header i {
  position: absolute;
  right: 0.5rem;
  top: 1rem;
  color: var(--on-primary);
}
#sidebar header i:hover {
  cursor: pointer;
}
#sidebar footer {
  font-size: 0.8rem;
  line-height: 3rem;
  padding-left: 1.2rem;
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid var(--border-bottom);
}
#sidebar footer:hover {
  cursor: pointer;
}
#sidebar footer a {
  color: var(--on-primary);
  display: block;
  text-decoration: none;
}
#sidebar footer a:hover {
  color: var(--on-primary);
}
#sidebar footer a:hover i {
  animation: swing ease-in-out 0.5s 1 alternate;
}
#sidebar footer a i {
  margin-right: 1.2rem;
}
#sidebar .nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
#sidebar .nav:not(.stacked) {
  max-height: calc(100% - 6rem);
  overflow-y: auto;
}
#sidebar .nav.stacked {
  display: none;
  background: var(--primary-dark);
}
#sidebar .nav.stacked.active {
  display: block;
}
#sidebar .nav.stacked > li > a {
  padding-left: 3.4rem;
  white-space: normal;
}
#sidebar .nav > li {
  position: relative;
  display: block;
  width: 100%;
}
#sidebar .nav > li > a {
  position: relative;
  display: block;
  background: none;
  border-bottom: 1px solid var(--border-bottom);
  color: #CFD8DC;
  font-size: 0.8rem;
  padding: 1rem 1.2rem;
}
#sidebar .nav > li > a:hover, #sidebar .nav > li > a:focus {
  color: var(--on-primary);
  background: none;
  text-decoration: none;
  cursor: pointer;
}
#sidebar .nav > li > a:hover i.icon, #sidebar .nav > li > a:focus i.icon {
  animation: swing ease-in-out 0.5s 1 alternate;
}
#sidebar .nav > li > a.active {
  color: var(--secondary);
  font-weight: 600;
}
#sidebar .nav > li > a i {
  margin-right: 1.2rem;
}
#sidebar .nav > li > a i.arrow {
  float: right;
  margin-right: 0rem;
  transform: rotate(0deg);
  transition: all 0.1s ease;
}
#sidebar .nav > li > a i.arrow.active {
  transform: rotate(90deg);
}
#sidebar .nav > li.active > a {
  font-weight: 600;
}
#sidebar .nav > li.active > a:hover, #sidebar .nav > li.active > a:focus {
  font-weight: 600;
  text-decoration: none;
  background-color: transparent;
}

.sidebarButton {
  display: none;
  position: fixed;
  right: 0.5rem;
  top: 0.5rem;
  background-color: var(--primary);
  border: unset;
  z-index: 10;
  border-radius: 4px;
  padding: unset;
  color: var(--on-primary);
}
.sidebarButton:hover {
  cursor: pointer;
}
.sidebarButton i {
  padding: 0.5rem;
}

/* Sidebar Styles */
/*custom button*/
.bg-custom {
  background-color: var(--primary);
  color: var(--on-primary);
}

.btn-custom {
  background: linear-gradient(to right, #ff794e, #ff3371);
  color: var(--on-primary);
}
.btn-custom:hover {
  background-color: var(--primary);
  color: var(--on-primary);
}

/*custom button*/
/*custom dropdown*/
.dropdown-menu {
  box-shadow: 0px 0px 5px rgba(41, 41, 41, 0.7607843137);
}

/*custom dropdown*/
/*flip card*/
.card-custom {
  position: relative;
}

.card-flip > div {
  backface-visibility: hidden;
  transition: transform 300ms;
  transition-timing-function: linear;
  margin: 0;
  display: flex;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
}

.card-flip .card-front.active {
  transform: rotateY(-180deg);
  width: calc(100% - 24px);
}

.card-flip .card-back.active {
  transform: rotateY(0deg);
  width: calc(100% - 16px);
}

/*flip card*/
/*custom form*/
.form-custom {
  width: 100%;
}

.form-check-input[type=checkbox]:checked {
  background-color: var(--primary);
  border-color: var(--primary);
}
.form-check-input[type=checkbox]:checked:focus {
  background-color: var(--primary);
  border-color: var(--primary);
}

/*custom form*/
.text-left {
  text-align: left !important;
}

.text-hover:hover {
  cursor: pointer;
  color: var(--on-disable) !important;
}

.h-custom {
  height: calc(100% - 2.3rem);
}

/*document viewer*/
#docView {
  display: flex;
  height: 100vh;
  overflow: hidden;
  flex-direction: row;
}
#docView .fieldContainer {
  width: 350px;
  height: 100%;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
#docView .fieldContainer .form-group {
  margin-bottom: 0.5rem;
}
#docView .fieldContainer .form-group.margin-top {
  margin-top: unset;
}
#docView .fieldContainer .form-group label {
  font-weight: 600;
}
#docView .fieldContainer .form-group textarea {
  height: unset;
}
#docView .fieldContainer .margin-bottom {
  margin-bottom: 0.5rem;
}
#docView .docContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: calc(100% - 370px);
  height: calc(100% - 20px);
  margin: 10px;
  overflow-y: auto;
  border: 1px solid var(--border-light);
  border-radius: 4px;
  background-color: var(--top);
}
#docView .docContainer .file {
  width: 150px;
  margin: 1rem;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary);
  font-size: 1rem;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: all 0.2s;
}
#docView .docContainer .file:hover {
  transform: scale(1.05);
  font-weight: 600;
}
#docView .docContainer .file img {
  margin: 3px 0;
  height: 6rem;
  width: auto;
}
#docView .docContainer .file a {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/*document viewer*/
/*modal form*/
.modalForm {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 11;
  background-color: var(--backdrop);
  transition: width 2s, height 2s, transform 2s;
}
.modalForm h4 {
  position: absolute;
  left: 15%;
  top: 2rem;
}
.modalForm h4:hover {
  cursor: default;
}

.formContent {
  display: flex;
  background: var(--top);
  position: relative;
  margin: 5rem auto;
  width: 70%;
  height: calc(100vh - 10rem);
  border: 1px solid var(--border-light);
  border-radius: 0.4rem;
  border-radius: 0.3rem;
}

.formContent body {
  margin: 0px;
  height: 100%;
  display: flex;
}

.formContent img {
  margin: auto;
  max-width: -webkit-fill-available;
  max-height: -webkit-fill-available;
}

.closeButton {
  position: absolute;
  top: 20px;
  z-index: 1;
  right: 20px;
  outline: unset;
  background: unset;
  border: unset;
  font-size: 1.7rem;
  color: var(--primary);
  transition: all 0.2s ease-in;
}
.closeButton:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/*modal form*/
@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
  .img-custom {
    width: 100%;
    height: 100%;
  }
  /* Left Container */
  .left-container {
    flex-direction: column;
    height: 60%;
    width: 100%;
  }
  .left-container ul li {
    width: 82px;
  }
  .left-container .img-logo {
    width: 7rem;
  }
  .left-container .img-slider {
    height: 50%;
    width: 100%;
  }
  .left-container .detail-slider {
    height: 50%;
    width: 90%;
    font-size: 0.8rem;
    margin: 0px 5%;
  }
  .left-container .detail-slider .left-container {
    width: 40%;
    height: 100%;
  }
  .left-container .detail-slider .right-container {
    width: 60%;
    height: calc(100% - 10px);
  }
  /* Right Styles */
  .right-container {
    height: calc(40% - 10px);
    width: calc(100% - 10px);
  }
  .h-custom {
    height: calc(100% - 2.3rem);
  }
  #content {
    width: 100%;
  }
  #sidebarContainer {
    display: block;
  }
  /* Sidebar Styles */
  #sidebar header {
    font-size: 1rem;
    line-height: 3rem;
  }
  #sidebar header i {
    right: 0.5rem;
    top: 1rem;
  }
  #sidebar footer {
    font-size: 0.8rem;
    line-height: 3rem;
    padding-left: 1.2rem;
    bottom: 0px;
    width: 100%;
  }
  #sidebar footer a i {
    margin-right: 1.2rem;
  }
  #sidebar .nav {
    margin-bottom: 0;
    padding-left: 0;
  }
  #sidebar .nav:not(.stacked) {
    max-height: calc(100% - 6rem);
    overflow-y: auto;
  }
  #sidebar .nav.stacked {
    display: none;
  }
  #sidebar .nav.stacked.active {
    display: block;
  }
  #sidebar .nav.stacked > li > a {
    padding-left: 3.4rem;
  }
  #sidebar .nav > li {
    width: 100%;
  }
  #sidebar .nav > li > a {
    font-size: 0.8rem;
    padding: 1rem 1.2rem;
  }
  #sidebar .nav > li > a:hover, #sidebar .nav > li > a:focus {
    color: var(--on-primary);
    background: none;
    text-decoration: none;
  }
  #sidebar .nav > li > a.active {
    color: var(--secondary);
    font-weight: 600;
  }
  #sidebar .nav > li > a i {
    margin-right: 1.2rem;
  }
  #sidebar .nav > li > a i.arrow {
    float: right;
    margin-right: 0rem;
    transform: rotate(0deg);
    transition: all 0.1s ease;
  }
  #sidebar .nav > li > a i.arrow.active {
    transform: rotate(90deg);
  }
  #sidebar .nav > li.active > a {
    font-weight: 600;
  }
  #sidebar .nav > li.active > a:hover, #sidebar .nav > li.active > a:focus {
    font-weight: 600;
    text-decoration: none;
    background-color: transparent;
  }
  .sidebarButton {
    display: block;
    top: 0.5rem;
  }
  .sidebarButton i {
    padding: 0.5rem;
  }
  #sidebar .userInfo {
    justify-content: center;
  }
  /*document viewer*/
  #docView {
    flex-direction: column;
  }
  #docView .fieldContainer {
    width: 100%;
    height: calc(30% - 20px);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
  }
  #docView .fieldContainer .form-group {
    margin-bottom: 0.5rem;
  }
  #docView .fieldContainer .form-group.margin-top {
    margin-top: 80px;
  }
  #docView .fieldContainer .form-group textarea {
    height: 10px;
  }
  #docView .docContainer {
    width: calc(100% - 20px);
    height: 70%;
    margin: 10px;
  }
  #docView .docContainer .file {
    margin: 0.6rem;
    font-size: 0.9rem;
  }
}
@media (max-width: 520px) {
  html {
    font-size: 12px;
  }
  .img-custom {
    width: 100%;
    height: 100%;
  }
  /* Left Container */
  .left-container {
    flex-direction: column;
    height: 60%;
    width: 100%;
  }
  .left-container ul li {
    width: 82px;
  }
  .left-container .img-logo {
    width: 7rem;
  }
  .left-container .img-slider {
    height: 50%;
    width: 100%;
  }
  .left-container .detail-slider {
    height: 50%;
    width: 90%;
    font-size: 0.8rem;
    margin: 0px 5%;
  }
  .left-container .detail-slider .left-container {
    width: 40%;
    height: 100%;
  }
  .left-container .detail-slider .right-container {
    width: 60%;
    height: calc(100% - 10px);
  }
  /* Right Styles */
  .right-container {
    height: calc(40% - 10px);
    width: calc(100% - 10px);
  }
  #content {
    width: 100%;
  }
  #sidebarContainer {
    display: block;
  }
  /* Sidebar Styles */
  #sidebar header {
    font-size: 1rem;
    line-height: 3rem;
  }
  #sidebar header i {
    right: 0.5rem;
    top: 1rem;
  }
  #sidebar footer {
    font-size: 0.8rem;
    line-height: 3rem;
    padding-left: 1.2rem;
    bottom: 0px;
    width: 100%;
  }
  #sidebar footer a i {
    margin-right: 1.2rem;
  }
  #sidebar .nav {
    margin-bottom: 0;
    padding-left: 0;
  }
  #sidebar .nav:not(.stacked) {
    max-height: calc(100% - 6rem);
    overflow-y: auto;
  }
  #sidebar .nav.stacked {
    display: none;
  }
  #sidebar .nav.stacked.active {
    display: block;
  }
  #sidebar .nav.stacked > li > a {
    padding-left: 3.4rem;
  }
  #sidebar .nav > li {
    width: 100%;
  }
  #sidebar .nav > li > a {
    font-size: 0.8rem;
    padding: 1rem 1.2rem;
  }
  #sidebar .nav > li > a:hover, #sidebar .nav > li > a:focus {
    color: var(--on-primary);
    background: none;
    text-decoration: none;
  }
  #sidebar .nav > li > a.active {
    color: var(--secondary);
    font-weight: 600;
  }
  #sidebar .nav > li > a i {
    margin-right: 1.2rem;
  }
  #sidebar .nav > li > a i.arrow {
    float: right;
    margin-right: 0rem;
    transform: rotate(0deg);
    transition: all 0.1s ease;
  }
  #sidebar .nav > li > a i.arrow.active {
    transform: rotate(90deg);
  }
  #sidebar .nav > li.active > a {
    font-weight: 600;
  }
  #sidebar .nav > li.active > a:hover, #sidebar .nav > li.active > a:focus {
    font-weight: 600;
    text-decoration: none;
    background-color: transparent;
  }
  .sidebarButton {
    display: block;
    top: 0.5rem;
  }
  .sidebarButton i {
    padding: 0.5rem;
  }
  #sidebar .userInfo {
    justify-content: center;
  }
  /*document viewer*/
  #docView {
    flex-direction: column;
  }
  #docView .fieldContainer {
    width: 100%;
    height: calc(30% - 20px);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
  }
  #docView .fieldContainer .form-group {
    margin-bottom: 0.5rem;
  }
  #docView .fieldContainer .form-group.margin-top {
    margin-top: 80px;
  }
  #docView .fieldContainer .form-group textarea {
    height: 10px;
  }
  #docView .docContainer {
    width: calc(100% - 20px);
    height: 70%;
    margin: 10px;
  }
  #docView .docContainer .file {
    margin: 0.6rem;
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 800px) and (min-width: 521px) {
  html {
    font-size: 14px;
  }
  .img-custom {
    width: 100%;
    height: auto;
  }
  /* Left Container */
  .left-container {
    flex-direction: column;
    height: 60%;
    width: 100%;
  }
  .left-container ul li {
    width: 82px;
  }
  .left-container .img-logo {
    width: 7rem;
  }
  .left-container .img-slider {
    height: 50%;
    width: 100%;
  }
  .left-container .detail-slider {
    height: 50%;
    width: 90%;
    font-size: 0.8rem;
    margin: 0px 5%;
  }
  .left-container .detail-slider .left-container {
    width: 40%;
    height: 100%;
  }
  .left-container .detail-slider .right-container {
    width: 60%;
    height: calc(100% - 10px);
  }
  /* Right Styles */
  .right-container {
    height: calc(40% - 10px);
    width: calc(100% - 10px);
  }
  /*document viewer*/
  #docView .fieldContainer {
    width: 250px;
    overflow: auto;
  }
  #docView .fieldContainer .form-group {
    margin-bottom: 0.5rem;
  }
  #docView .fieldContainer .form-group textarea {
    height: unset;
  }
  #docView .fieldContainer .margin-top {
    margin-top: unset;
  }
  #docView .docContainer {
    width: calc(100% - 270px);
    height: calc(100% - 20px);
    margin: 10px;
  }
  #docView .docContainer .file {
    margin: 0.6rem;
    font-size: 0.9rem;
  }
  #docView .docContainer .file img {
    height: 5rem;
  }
}
@media only screen and (max-width: 800px) and (min-width: 521px) and (max-height: 480px) {
  html {
    font-size: 12px;
  }
  .img-custom {
    width: auto;
    height: 100%;
  }
  /* Left Container */
  .left-container {
    flex-direction: row;
    height: 35%;
    width: 100%;
  }
  .left-container ul li {
    width: 82px;
  }
  .left-container .img-logo {
    width: 6rem;
  }
  .left-container .img-slider {
    height: 100%;
    width: 40%;
  }
  .left-container .detail-slider {
    height: 100%;
    width: 50%;
    font-size: 0.7rem;
    margin: 0px 5%;
  }
  .left-container .detail-slider .left-container {
    width: 30%;
    height: 100%;
  }
  .left-container .detail-slider .right-container {
    width: 70%;
    height: calc(100% - 10px);
  }
  /* Right Styles */
  .right-container {
    height: calc(65% - 10px);
    width: calc(100% - 10px);
  }
  #content {
    width: 100%;
  }
  #sidebarContainer {
    display: block;
  }
  /* Sidebar Styles */
  #sidebar header {
    font-size: 1rem;
    line-height: 3rem;
  }
  #sidebar header i {
    right: 0.5rem;
    top: 1rem;
  }
  #sidebar footer {
    font-size: 0.8rem;
    line-height: 3rem;
    padding-left: 1.2rem;
    bottom: 0px;
    width: 100%;
  }
  #sidebar footer a i {
    margin-right: 1.2rem;
  }
  #sidebar .nav {
    margin-bottom: 0;
    padding-left: 0;
  }
  #sidebar .nav:not(.stacked) {
    max-height: calc(100% - 6rem);
    overflow-y: auto;
  }
  #sidebar .nav.stacked {
    display: none;
  }
  #sidebar .nav.stacked.active {
    display: block;
  }
  #sidebar .nav.stacked > li > a {
    padding-left: 3.4rem;
  }
  #sidebar .nav > li {
    width: 100%;
  }
  #sidebar .nav > li > a {
    font-size: 0.8rem;
    padding: 1rem 1.2rem;
  }
  #sidebar .nav > li > a:hover, #sidebar .nav > li > a:focus {
    color: var(--on-primary);
    background: none;
    text-decoration: none;
  }
  #sidebar .nav > li > a.active {
    color: var(--secondary);
    font-weight: 600;
  }
  #sidebar .nav > li > a i {
    margin-right: 1.2rem;
  }
  #sidebar .nav > li > a i.arrow {
    float: right;
    margin-right: 0rem;
    transform: rotate(0deg);
    transition: all 0.1s ease;
  }
  #sidebar .nav > li > a i.arrow.active {
    transform: rotate(90deg);
  }
  #sidebar .nav > li.active > a {
    font-weight: 600;
  }
  #sidebar .nav > li.active > a:hover, #sidebar .nav > li.active > a:focus {
    font-weight: 600;
    text-decoration: none;
    background-color: transparent;
  }
  .sidebarButton {
    display: block;
    top: 0.5rem;
  }
  .sidebarButton i {
    padding: 0.5rem;
  }
  #sidebar .userInfo {
    justify-content: center;
  }
  /*document viewer*/
  #docView .fieldContainer {
    width: 200px;
    overflow: auto;
  }
  #docView .fieldContainer .form-group {
    margin-bottom: 0.5rem;
  }
  #docView .fieldContainer .form-group.margin-top {
    margin-top: unset;
  }
  #docView .fieldContainer .form-group textarea {
    height: 10px;
  }
  #docView .docContainer {
    width: calc(100% - 220px);
    height: calc(100% - 20px);
    margin: 10px;
  }
  #docView .docContainer .file {
    margin: 0.6rem;
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 1366px) and (min-width: 801px) {
  html {
    font-size: 14px;
  }
  .img-custom {
    width: auto;
    height: 100%;
  }
  .left-container .detail-slider {
    width: 90%;
    margin: 0px 5%;
  }
  /*document viewer*/
  #docView .fieldContainer {
    width: 250px;
    overflow: auto;
  }
  #docView .fieldContainer .form-group {
    margin-bottom: 0.5rem;
  }
  #docView .fieldContainer .form-group textarea {
    height: unset;
  }
  #docView .fieldContainer .margin-top {
    margin-top: unset;
  }
  #docView .docContainer {
    width: calc(100% - 270px);
    height: calc(100% - 20px);
    margin: 10px;
  }
  #docView .docContainer .file {
    margin: 0.6rem;
    font-size: 0.9rem;
  }
  #docView .docContainer .file img {
    height: 5.5rem;
  }
}
@media only screen and (max-width: 1366px) and (min-width: 801px) and (min-height: 723px) {
  html {
    font-size: 14px;
  }
  .img-custom {
    width: auto;
    height: 100%;
  }
  /* Left Container */
  .left-container {
    flex-direction: row;
    height: 35%;
    width: 100%;
  }
  .left-container ul li {
    width: unset;
    margin-right: 1rem;
  }
  .left-container .img-logo {
    width: 9rem;
  }
  .left-container .img-slider {
    height: 100%;
    width: 40%;
  }
  .left-container .detail-slider {
    height: 100%;
    width: 50%;
    font-size: 0.9rem;
    margin: 0px 5%;
  }
  .left-container .detail-slider .left-container {
    width: 30%;
    height: 100%;
  }
  .left-container .detail-slider .right-container {
    width: 70%;
    height: calc(100% - 10px);
  }
  /* Right Styles */
  .right-container {
    height: calc(65% - 10px);
    width: calc(100% - 10px);
  }
  #content {
    width: 100%;
  }
  #sidebar .userInfo {
    justify-content: center;
  }
  .sidebarButton {
    display: block;
  }
  /*document viewer*/
  #docView .fieldContainer {
    width: 300px;
    overflow: auto;
  }
  #docView .fieldContainer .form-group {
    margin-bottom: 0.5rem;
  }
  #docView .fieldContainer .form-group textarea {
    height: unset;
  }
  #docView .fieldContainer .margin-top {
    margin-top: unset;
  }
  #docView .docContainer {
    width: calc(100% - 320px);
    height: calc(100% - 20px);
    margin: 10px;
  }
  #docView .docContainer .file {
    margin: 0.6rem;
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 1366px) and (min-width: 801px) and (max-height: 480px) {
  html {
    font-size: 12px;
  }
  .text-center {
    text-align: center !important;
  }
  .img-custom {
    width: auto;
    height: 100%;
  }
  /* Left Container */
  .left-container {
    flex-direction: row;
    height: 35%;
    width: 100%;
  }
  .left-container ul li {
    width: unset;
    margin-right: 0.9rem;
  }
  .left-container .img-logo {
    width: 8rem;
  }
  .left-container .img-slider {
    height: 100%;
    width: 30%;
  }
  .left-container .detail-slider {
    height: 100%;
    width: 50%;
    font-size: 0.8rem;
    margin: 0px 10%;
  }
  .left-container .detail-slider .left-container {
    width: 30%;
    height: 100%;
  }
  .left-container .detail-slider .right-container {
    width: 70%;
    height: calc(100% - 10px);
  }
  /* Right Styles */
  .right-container {
    height: calc(65% - 10px);
    width: calc(100% - 10px);
  }
  #content {
    width: 100%;
  }
  #sidebarContainer {
    display: block;
  }
  /* Sidebar Styles */
  #sidebar header {
    font-size: 1rem;
    line-height: 3rem;
  }
  #sidebar header i {
    right: 0.5rem;
    top: 1rem;
  }
  #sidebar footer {
    font-size: 0.8rem;
    line-height: 3rem;
    padding-left: 1.2rem;
    bottom: 0px;
    width: 100%;
  }
  #sidebar footer a i {
    margin-right: 1.2rem;
  }
  #sidebar .nav {
    margin-bottom: 0;
    padding-left: 0;
  }
  #sidebar .nav:not(.stacked) {
    max-height: calc(100% - 6rem);
    overflow-y: auto;
  }
  #sidebar .nav.stacked {
    display: none;
  }
  #sidebar .nav.stacked.active {
    display: block;
  }
  #sidebar .nav.stacked > li > a {
    padding-left: 3.4rem;
  }
  #sidebar .nav > li {
    width: 100%;
  }
  #sidebar .nav > li > a {
    font-size: 0.8rem;
    padding: 1rem 1.2rem;
  }
  #sidebar .nav > li > a:hover, #sidebar .nav > li > a:focus {
    color: var(--on-primary);
    background: none;
    text-decoration: none;
  }
  #sidebar .nav > li > a.active {
    color: var(--secondary);
    font-weight: 600;
  }
  #sidebar .nav > li > a i {
    margin-right: 1.2rem;
  }
  #sidebar .nav > li > a i.arrow {
    float: right;
    margin-right: 0rem;
    transform: rotate(0deg);
    transition: all 0.1s ease;
  }
  #sidebar .nav > li > a i.arrow.active {
    transform: rotate(90deg);
  }
  #sidebar .nav > li.active > a {
    font-weight: 600;
  }
  #sidebar .nav > li.active > a:hover, #sidebar .nav > li.active > a:focus {
    font-weight: 600;
    text-decoration: none;
    background-color: transparent;
  }
  .sidebarButton {
    display: block;
    top: 0.5rem;
  }
  .sidebarButton i {
    padding: 0.5rem;
  }
  #sidebar .userInfo {
    justify-content: center;
  }
  /*document viewer*/
  #docView .fieldContainer {
    width: 200px;
    overflow: auto;
  }
  #docView .fieldContainer .form-group {
    margin-bottom: 0.5rem;
  }
  #docView .fieldContainer .form-group.margin-top {
    margin-top: unset;
  }
  #docView .fieldContainer .form-group textarea {
    height: 10px;
  }
  #docView .docContainer {
    width: calc(100% - 220px);
    height: calc(100% - 20px);
    margin: 10px;
  }
  #docView .docContainer .file {
    margin: 0.6rem;
    font-size: 0.9rem;
  }
}
@media screen and (min-height: 924px) {
  html {
    font-size: 16px;
  }
  .img-custom {
    width: auto;
    height: 100%;
  }
}
@media screen and (min-height: 924px) and (min-width: 1367px) {
  html {
    font-size: 14px;
  }
  .text-center {
    text-align: center !important;
  }
  .img-custom {
    width: 100%;
    height: auto;
  }
  /* Left Container */
  .left-container {
    display: flex;
    padding: unset;
    background-color: var(--primary);
    color: var(--on-primary);
    text-align: left !important;
    height: 100%;
    width: 60%;
    flex-direction: column;
  }
  .left-container .img-logo {
    width: 10rem;
  }
  .left-container .img-slider {
    height: 65%;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .left-container .detail-slider {
    height: 35%;
    width: 70%;
    font-size: 0.9rem;
    margin: 0px 15%;
  }
  .left-container .detail-slider .left-container {
    width: 30%;
    height: 100%;
  }
  .left-container .detail-slider .right-container {
    width: 70%;
    height: calc(100% - 10px);
  }
  .left-container ul {
    list-style-type: none;
    padding-left: unset;
  }
  .left-container ul li {
    margin-right: 0.7rem;
  }
  .left-container ul li a {
    color: var(--on-primary);
  }
  .left-container ul li a img {
    width: 1.2rem;
    margin-right: 2px;
  }
  /* Right Styles */
  .right-container {
    margin: 5px;
    width: calc(40% - 10px);
  }
  #content {
    width: calc(100% - 250px);
    margin-right: 0;
  }
  #sidebar .userInfo {
    justify-content: space-between;
  }
  .sidebarButton {
    display: none;
  }
}
@media screen and (min-height: 924px) and (min-width: 821px) and (max-width: 1366px) {
  html {
    font-size: 14px;
  }
  .text-center {
    text-align: center !important;
  }
  .img-custom {
    width: 100%;
    height: auto;
  }
  /* Left Container */
  .left-container {
    flex-direction: column;
    height: 60%;
    width: 100%;
  }
  .left-container ul li {
    width: unset;
    margin-right: 0.8rem;
  }
  .left-container .img-logo {
    width: 12rem;
  }
  .left-container .img-slider {
    height: 50%;
    width: 100%;
  }
  .left-container .detail-slider {
    height: 50%;
    width: 70%;
    font-size: 1rem;
    margin: 0px 15%;
  }
  .left-container .detail-slider .left-container {
    width: 40%;
    height: 100%;
  }
  .left-container .detail-slider .right-container {
    width: 60%;
    height: calc(100% - 10px);
  }
  /* Right Styles */
  .right-container {
    height: calc(40% - 10px);
    width: calc(100% - 10px);
  }
  #content {
    width: 100%;
  }
  #sidebar .userInfo {
    justify-content: center;
  }
  .sidebarButton {
    display: block;
  }
}
@media screen and (min-height: 924px) and (min-width: 521px) and (max-width: 820px) {
  html {
    font-size: 14px;
  }
  .img-custom {
    width: 100%;
    height: auto;
  }
  /* Left Container */
  .left-container {
    flex-direction: column;
    height: 60%;
    width: 100%;
  }
  .left-container ul li {
    width: unset;
    margin-right: 0.8rem;
  }
  .left-container .img-logo {
    width: 12rem;
  }
  .left-container .img-slider {
    height: 50%;
    width: 100%;
  }
  .left-container .detail-slider {
    height: 50%;
    width: 70%;
    font-size: 0.9rem;
    margin: 0px 15%;
  }
  .left-container .detail-slider .left-container {
    width: 40%;
    height: 100%;
  }
  .left-container .detail-slider .right-container {
    width: 60%;
    height: calc(100% - 10px);
  }
  /* Right Styles */
  .right-container {
    height: calc(40% - 10px);
    width: calc(100% - 10px);
  }
  #content {
    width: 100%;
  }
  #sidebar .userInfo {
    justify-content: center;
  }
  #sidebarContainer {
    display: block;
  }
  .sidebarButton {
    display: block;
  }
}
@media screen and (min-height: 924px) and (max-width: 520px) {
  html {
    font-size: 12px;
  }
  .img-custom {
    width: auto;
    height: 100%;
  }
  #sidebarContainer {
    display: block;
  }
  /* Sidebar Styles */
  #sidebar header {
    font-size: 1rem;
    line-height: 3rem;
  }
  #sidebar header i {
    right: 0.5rem;
    top: 1rem;
  }
  #sidebar footer {
    font-size: 0.8rem;
    line-height: 3rem;
    padding-left: 1.2rem;
    bottom: 0px;
    width: 100%;
  }
  #sidebar footer a i {
    margin-right: 1.2rem;
  }
  #sidebar .nav {
    margin-bottom: 0;
    padding-left: 0;
  }
  #sidebar .nav:not(.stacked) {
    max-height: calc(100% - 6rem);
    overflow-y: auto;
  }
  #sidebar .nav.stacked {
    display: none;
  }
  #sidebar .nav.stacked.active {
    display: block;
  }
  #sidebar .nav.stacked > li > a {
    padding-left: 3.4rem;
  }
  #sidebar .nav > li {
    width: 100%;
  }
  #sidebar .nav > li > a {
    font-size: 0.8rem;
    padding: 1rem 1.2rem;
  }
  #sidebar .nav > li > a:hover, #sidebar .nav > li > a:focus {
    color: var(--on-primary);
    background: none;
    text-decoration: none;
  }
  #sidebar .nav > li > a.active {
    color: var(--secondary);
    font-weight: 600;
  }
  #sidebar .nav > li > a i {
    margin-right: 1.2rem;
  }
  #sidebar .nav > li > a i.arrow {
    float: right;
    margin-right: 0rem;
    transform: rotate(0deg);
    transition: all 0.1s ease;
  }
  #sidebar .nav > li > a i.arrow.active {
    transform: rotate(90deg);
  }
  #sidebar .nav > li.active > a {
    font-weight: 600;
  }
  #sidebar .nav > li.active > a:hover, #sidebar .nav > li.active > a:focus {
    font-weight: 600;
    text-decoration: none;
    background-color: transparent;
  }
  .sidebarButton {
    display: block;
    top: 0.5rem;
  }
  .sidebarButton i {
    padding: 0.5rem;
  }
}
@media screen and (min-width: 1600px) {
  html {
    font-size: 18px;
  }
  #content {
    width: calc(100% - 250px);
    margin-right: 0;
  }
  #sidebar .userInfo {
    justify-content: space-between;
  }
  .sidebarButton {
    display: none;
  }
  /*document viewer*/
  #docView .fieldContainer {
    width: 450px;
    overflow: auto;
  }
  #docView .fieldContainer .form-group {
    margin-bottom: 0.5rem;
  }
  #docView .fieldContainer .form-group textarea {
    height: unset;
  }
  #docView .fieldContainer .margin-top {
    margin-top: unset;
  }
  #docView .docContainer {
    width: calc(100% - 470px);
    height: calc(100% - 20px);
    margin: 10px;
  }
  #docView .docContainer .file {
    margin: 0.6rem;
    font-size: 0.9rem;
  }
  #docView .docContainer .file img {
    height: 6.5rem;
  }
}
@keyframes swing {
  0%, 30%, 50%, 70%, 100% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
}/*# sourceMappingURL=login.css.map */