body {
  font-family: Arial, Helvetica, sans-serif;
}

.tableWidth {
  background-color: #003c8f !important;
}

.dashboardHeader {
  background: #003c8f;
  width: 100%;
  height: 70px;
  display: inline-flex;
}
.dashboardHeader .logo {
  display: inline-block;
  padding: 10px;
  text-align: center;
}
.dashboardHeader .logo img {
  height: 100%;
}
.dashboardHeader .title {
  display: inline-block;
  margin: 0 auto;
  color: white;
}
.dashboardHeader .title h4 {
  margin: 10px 0;
}
.dashboardHeader .title h3 {
  text-align: center;
  margin: 4px 0;
}

.dashboardBody {
  width: 100%;
  height: calc(100% - 110px);
  position: relative;
}
.dashboardBody.admin {
  height: calc(100% - 5px);
}
.dashboardBody .sidebar {
  display: none !important;
}
.dashboardBody .layout {
  display: inline-block;
  padding: 5px;
  position: absolute;
  right: 0px;
  height: calc(100% - 10px);
  width: 98% !important;
}
.dashboardBody .oneRow .rowOne {
  width: 100%;
  height: 100%;
}
.dashboardBody .twoRow {
  position: relative;
  display: inline-block;
}
.dashboardBody .twoRow .rowOne {
  width: 100% !important;
  margin: 0 0 5px 0;
}
.dashboardBody .twoRow .rowTwo {
  width: 100% !important;
  margin: 5px 0 0 0;
}
.dashboardBody .twoRow .XS {
  height: calc(10% - 5px);
}
.dashboardBody .twoRow .S {
  height: calc(20% - 5px);
}
.dashboardBody .twoRow .SM {
  height: calc(30% - 5px);
}
.dashboardBody .twoRow .M40 {
  height: calc(40% - 5px);
}
.dashboardBody .twoRow .M {
  height: calc(50% - 5px);
}
.dashboardBody .twoRow .M60 {
  height: calc(60% - 5px);
}
.dashboardBody .twoRow .ML {
  height: calc(70% - 5px);
}
.dashboardBody .twoRow .L {
  height: calc(80% - 5px);
}
.dashboardBody .twoRow .XL {
  height: calc(90% - 5px);
}
.dashboardBody .twoRow .rowOne-T {
  width: 100% !important;
  background: #003c8f;
  height: 30px;
  line-height: 30px;
  color: white;
  text-align: center;
  overflow: hidden;
  font-size: 15px;
  font-weight: bold;
}
.dashboardBody .twoRow .rowTwo-T {
  font-size: 12px;
  width: 100% !important;
  background: rgba(255, 255, 255, 0.8196078431);
  height: calc(100% - 30px);
}
.dashboardBody .threeRow .rowOne {
  width: 100% !important;
  margin-bottom: 5px;
}
.dashboardBody .threeRow .rowTwo {
  width: 100% !important;
  margin: 5px 0;
}
.dashboardBody .threeRow .rowThree {
  width: 100% !important;
  margin-top: 5px;
}
.dashboardBody .threeRow .S {
  height: calc(16.5% - 5px);
}
.dashboardBody .threeRow .M {
  height: calc(33.3% - 5px);
}
.dashboardBody .threeRow .L {
  height: calc(50% - 5px);
}
.dashboardBody .threeRow .XL {
  height: calc(65% - 5px);
}
.dashboardBody .fourRow .rowOne {
  width: 100% !important;
  margin-bottom: 5px;
}
.dashboardBody .fourRow .rowTwo {
  width: 100% !important;
  margin: 5px 0;
}
.dashboardBody .fourRow .rowThree {
  width: 100% !important;
  margin: 5px 0;
}
.dashboardBody .fourRow .rowFour {
  width: 100% !important;
  margin-top: 5px;
}
.dashboardBody .fourRow .S {
  height: calc(16.5% - 5px);
}
.dashboardBody .fourRow .M {
  height: calc(25% - 5px);
}
.dashboardBody .fourRow .L {
  height: calc(50% - 5px);
}
.dashboardBody .oneColumn {
  width: 100%;
  display: inline-flex;
}
.dashboardBody .oneColumn .flex {
  display: flex;
  flex-direction: column;
}
.dashboardBody .oneColumn .flex .infoContainer {
  margin: auto 5px;
}
.dashboardBody .oneColumn .columnOne {
  height: calc(100% - 10px) !important;
  width: calc(100% - 10px) !important;
  margin: 5px 5px !important;
}
.dashboardBody .twoColumn {
  width: 100%;
  display: inline-flex;
}
.dashboardBody .twoColumn .flex {
  display: flex;
  flex-direction: column;
}
.dashboardBody .twoColumn .flex .infoContainer {
  margin: auto 5px;
}
.dashboardBody .twoColumn .columnOne {
  height: 100%;
  margin: 0 5px 0 0;
}
.dashboardBody .twoColumn .columnTwo {
  height: 100%;
  margin: 0 0 0 5px;
}
.dashboardBody .twoColumn .XS {
  height: 100%;
  width: 10%;
}
.dashboardBody .twoColumn .S {
  width: calc(20% - 5px);
}
.dashboardBody .twoColumn .SM {
  width: calc(30% - 5px);
}
.dashboardBody .twoColumn .M40 {
  width: calc(40% - 5px);
}
.dashboardBody .twoColumn .M {
  width: calc(50% - 5px);
}
.dashboardBody .twoColumn .M60 {
  width: calc(60% - 5px);
}
.dashboardBody .twoColumn .ML {
  width: calc(70% - 5px);
}
.dashboardBody .twoColumn .L {
  width: calc(80% - 5px);
}
.dashboardBody .twoColumn .XL {
  width: calc(90% - 5px);
}
.dashboardBody .threeColumn {
  width: 100%;
  display: inline-flex;
  overflow: hidden;
}
.dashboardBody .threeColumn .flex {
  display: flex;
  flex-direction: column;
}
.dashboardBody .threeColumn .flex .infoContainer {
  margin: auto 5px;
}
.dashboardBody .threeColumn .columnOne {
  height: 100%;
  margin-right: 5px;
}
.dashboardBody .threeColumn .columnTwo {
  height: 100%;
  margin: 0 5px;
}
.dashboardBody .threeColumn .columnThree {
  height: 100%;
  margin-left: 5px;
}
.dashboardBody .threeColumn .S {
  width: calc(16.5% - 5px);
}
.dashboardBody .threeColumn .SM {
  width: calc(20% - 5px);
}
.dashboardBody .threeColumn .M {
  width: calc(33.3% - 5px);
}
.dashboardBody .threeColumn .ML {
  width: calc(41.75% - 5px);
}
.dashboardBody .threeColumn .L {
  width: calc(50% - 5px);
}
.dashboardBody .threeColumn .LL {
  width: calc(60% - 5px);
}
.dashboardBody .threeColumn .XL {
  width: calc(67% - 5px);
}
.dashboardBody .fourColumn {
  width: 100%;
  display: inline-flex;
}
.dashboardBody .fourColumn .flex {
  display: flex;
  flex-direction: column;
}
.dashboardBody .fourColumn .flex .infoContainer {
  margin: auto 5px;
}
.dashboardBody .fourColumn .columnOne {
  height: 100%;
  margin-right: 5px;
}
.dashboardBody .fourColumn .columnTwo {
  height: 100%;
  margin: 0 5px;
}
.dashboardBody .fourColumn .columnThree {
  height: 100%;
  margin: 0 5px;
}
.dashboardBody .fourColumn .columnFour {
  height: 100%;
  margin-left: 5px;
}
.dashboardBody .fourColumn .S {
  width: calc(16.5% - 10px);
}
.dashboardBody .fourColumn .M {
  width: calc(25% - 5px);
}
.dashboardBody .fourColumn .ML {
  width: calc(27.8% - 10px);
}
.dashboardBody .fourColumn .L {
  width: calc(50% - 10px);
}
.dashboardBody .fourColumn .XL {
  width: calc(67% - 10px);
}
.dashboardBody .shadow {
  box-shadow: rgba(78, 78, 78, 0.2117647059) 4px 4px 5px 0px;
}
.dashboardBody .transparent {
  background: transparent !important;
}
.dashboardBody .round {
  border-radius: 8px;
}
.dashboardBody .roundT {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.dashboardBody .roundB {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.dashboardBody .numberContainer {
  text-align: center;
  background: #000000;
  font-size: 2.5em;
  color: white;
  padding: 5px;
  overflow: hidden;
  margin: auto 0 auto 10px;
  display: flex;
  flex-direction: column;
}
.dashboardBody .numberContainer.first {
  margin: auto 5px auto 10px;
}
.dashboardBody .numberContainer.middle {
  margin: auto 5px auto 5px;
}
.dashboardBody .numberContainer.last {
  margin: auto 10px auto 5px;
}
.dashboardBody .numberContainerInvert {
  text-align: center;
  background: #c9c9c9;
  font-size: 2.5em;
  color: #000000;
  padding: 5px;
  overflow: hidden;
  margin: auto 10px auto 0;
  display: flex;
  flex-direction: column;
}
.dashboardBody .datanum {
  margin: auto 0;
}
.dashboardBody .textlabelS {
  margin-top: 10px;
  font-size: 13px;
  text-align: center;
  line-height: 2em;
}
.dashboardBody .infoContainerDiv {
  display: flex;
  justify-content: space-evenly;
  margin: auto 0;
}
.dashboardBody .infoContainerDiv .infoContainer {
  width: 50%;
}
.dashboardBody .infoContainerFlex {
  display: flex;
  justify-content: space-evenly;
}
.dashboardBody .infoContainerFlex .infoContainer {
  width: 50%;
  margin: auto 5px !important;
  line-height: 20px;
  font-size: 12px;
}
.dashboardBody .infoContainerFlex .infoContainer .head {
  background: #003c8f;
  color: white;
  line-height: 12px;
  font-size: 12px;
  padding: 5px;
  height: 30px;
}
.dashboardBody .infoContainer {
  background: #c9c9c9;
  margin: 10px 5px;
  text-align: center;
  line-height: 30px;
  font-size: 13px;
  border-radius: 5px;
}
.dashboardBody .infoContainer.sheCenterContent {
  line-height: 40px;
}
.dashboardBody .infoContainer .head {
  background: #003c8f;
  color: white;
  line-height: 13px;
  font-size: 13px;
  padding: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.dashboardBody .infoContainer .body {
  height: calc(100% - 23px);
}
.dashboardBody .infoContainer .centerMiddlePrint {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboardBody .infoContainer .text-large {
  font-size: 20px;
}
.dashboardBody .infoContainer.large {
  line-height: 35px;
  font-size: 15px;
}
.dashboardBody .infoContainer.large .head {
  line-height: 12px;
  font-size: 12px;
}
.dashboardBody .spacer {
  padding: 5px 5px !important;
}
.dashboardBody .spacerTop {
  text-align: center;
  padding: 5px 0 0 0 !important;
  height: calc(100% - 30px) !important;
}
.dashboardBody .spacerTable {
  width: calc(100% - 20px) !important;
  margin: 0 10px !important;
}
.dashboardBody .containerHeader {
  background: #003c8f;
  width: 100%;
  height: 20px;
  text-align: center;
  color: white;
  line-height: 20px;
  overflow: hidden;
  font-size: 12px;
}
.dashboardBody .dash-charts {
  height: 100%;
  width: 100%;
}
.dashboardBody .tableContainer {
  height: auto;
  display: table;
}
.dashboardBody .tableContainer.legend {
  overflow-y: hidden;
  height: auto;
}
.dashboardBody .tableContainer table {
  border-collapse: collapse;
  background-color: #ffffff;
  width: 100%;
}
.dashboardBody .tableContainer table.procurement tbody tr td {
  border: 1px solid white;
  text-align: center;
}
.dashboardBody .tableContainer td {
  text-align: left;
  padding: 5px;
  border: none;
  font-size: 13px;
}
.dashboardBody .tableContainer th:first-child {
  border-top-left-radius: 0px;
}
.dashboardBody .tableContainer th:last-child {
  border-top-right-radius: 0px;
}
.dashboardBody .tableContainer tr:nth-of-type(even) {
  background: #f2f2f2;
}
.dashboardBody .tableContainer tr:nth-of-type(odd) {
  background: white;
}
.dashboardBody .tableContainer tr:hover {
  background-color: #ddd;
}
.dashboardBody .tableContainer tr.active {
  background-color: #ddd;
}
.dashboardBody .tableContainer tr.active td {
  font-weight: bold;
}
.dashboardBody .tableContainer th {
  background: #003c8f;
  color: white;
  text-align: left;
  padding: 5px;
  position: static !important;
  top: 0px;
  font-size: 12px;
}
.dashboardBody .tableContainer th.secondRow {
  top: 25px;
}
.dashboardBody .tableContainer th.bottom {
  bottom: 1px;
}
.dashboardBody .tableContainer th.secondRowBottom {
  bottom: 26px;
}
.dashboardBody .overflow-wrap {
  overflow-wrap: anywhere !important;
}
.dashboardBody .minimizeButton {
  display: none !important;
}

@media screen and (min-height: 924px) {
  .dashboardHeader {
    background: #003c8f;
    width: 100%;
    height: 70px;
    display: inline-flex;
  }
  .dashboardHeader .logo {
    display: inline-block;
    padding: 10px;
    text-align: center;
  }
  .dashboardHeader .logo img {
    height: 100%;
  }
  .dashboardHeader .title {
    display: inline-block;
    margin: 0 auto;
    color: white;
  }
  .dashboardHeader .title h4 {
    margin: 10px 0;
  }
  .dashboardHeader .title h3 {
    text-align: center;
    margin: 4px 0;
  }
  .dashboardBody {
    width: 100%;
    height: calc(100% - 110px);
    position: relative;
  }
  .dashboardBody .sidebar {
    display: inline-block;
    margin: 10px;
    position: absolute;
    height: calc(100% - 20px);
    width: calc(20% - 20px);
    overflow: auto;
  }
  .dashboardBody .sidebar .filterContainer {
    background: white;
    border-radius: 5px;
    padding: 10px;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
  }
  .dashboardBody .sidebar .filterContainer .filter {
    background: #003c8f;
    color: white;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    line-height: 35px;
    text-align: center;
  }
  .dashboardBody .sidebar .filterContainer .filter select {
    border-radius: 5px;
    width: 100%;
    height: 30px;
  }
  .dashboardBody .sidebar .filterContainer .filter .filterBtn {
    background-color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 70%;
  }
  .dashboardBody .sidebar .filterContainer .filter .activeBtn {
    background-color: #ffc961;
  }
  .dashboardBody .sidebar .dashboardContainer {
    display: block;
  }
  .dashboardBody .sidebar .dashboardContainer .rowOne-T {
    width: 100% !important;
    background: #003c8f;
    height: 38px;
    line-height: 38px;
    color: white;
    text-align: center;
    overflow: hidden;
    font-size: 72px;
    font-weight: bold;
  }
  .dashboardBody .sidebar .dashboardContainer .rowTwo-T {
    font-size: 12px;
    width: 100% !important;
    background: rgba(175, 175, 175, 0.8196078431);
    height: auto;
  }
  .dashboardBody .layout {
    display: inline-block;
    padding: 5px;
    position: absolute;
    right: 0px;
    height: calc(100% - 10px);
    width: calc(80% - 10px);
  }
  .dashboardBody .oneRow .rowOne {
    height: 100%;
    width: 100%;
  }
  .dashboardBody .twoRow {
    display: inline-block;
  }
  .dashboardBody .twoRow .rowOne {
    width: 100% !important;
    margin: 0 0 5px 0;
  }
  .dashboardBody .twoRow .rowTwo {
    width: 100% !important;
    margin: 5px 0 0 0;
  }
  .dashboardBody .twoRow .XS {
    height: calc(10% - 5px);
  }
  .dashboardBody .twoRow .S {
    height: calc(20% - 5px);
  }
  .dashboardBody .twoRow .SM {
    height: calc(30% - 5px);
  }
  .dashboardBody .twoRow .M40 {
    height: calc(40% - 5px);
  }
  .dashboardBody .twoRow .M {
    height: calc(50% - 5px);
  }
  .dashboardBody .twoRow .M60 {
    height: calc(60% - 5px);
  }
  .dashboardBody .twoRow .ML {
    height: calc(70% - 5px);
  }
  .dashboardBody .twoRow .L {
    height: calc(80% - 5px);
  }
  .dashboardBody .twoRow .XL {
    height: calc(90% - 5px);
  }
  .dashboardBody .twoRow .rowOne-T {
    width: 100% !important;
    background: #003c8f;
    height: 38px;
    line-height: 38px;
    color: white;
    text-align: center;
    overflow: hidden;
    font-size: 17px;
    font-weight: bold;
  }
  .dashboardBody .twoRow .rowTwo-T {
    font-size: 15px;
    width: 100% !important;
    background: rgba(255, 255, 255, 0.8196078431);
    height: calc(100% - 38px);
  }
  .dashboardBody .threeRow .rowOne {
    width: 100% !important;
    margin: 0 0 5px 0;
  }
  .dashboardBody .threeRow .rowTwo {
    width: 100% !important;
    margin: 5px 0;
  }
  .dashboardBody .threeRow .rowThree {
    width: 100% !important;
    margin: 5px 0 0 0;
  }
  .dashboardBody .threeRow .S {
    height: calc(16.5% - 5px);
  }
  .dashboardBody .threeRow .M {
    height: calc(33.3% - 5px);
  }
  .dashboardBody .threeRow .L {
    height: calc(50% - 5px);
  }
  .dashboardBody .threeRow .XL {
    height: calc(65% - 5px);
  }
  .dashboardBody .fourRow .rowOne {
    width: 100% !important;
    margin: 0 0 5px 0;
  }
  .dashboardBody .fourRow .rowTwo {
    width: 100% !important;
    margin: 5px 0;
  }
  .dashboardBody .fourRow .rowThree {
    width: 100% !important;
    margin: 5px 0;
  }
  .dashboardBody .fourRow .rowFour {
    width: 100% !important;
    margin-top: 5px 0 0 0;
  }
  .dashboardBody .fourRow .S {
    height: calc(16.5% - 5px);
  }
  .dashboardBody .fourRow .M {
    height: calc(25% - 5px);
  }
  .dashboardBody .fourRow .L {
    height: calc(50% - 5px);
  }
  .dashboardBody .oneColumn {
    width: 100%;
    display: inline-flex;
  }
  .dashboardBody .oneColumn .flex {
    display: flex;
    flex-direction: column;
  }
  .dashboardBody .oneColumn .flex .infoContainer {
    margin: auto 5px;
  }
  .dashboardBody .oneColumn .columnOne {
    height: calc(100% - 10px) !important;
    width: calc(100% - 10px) !important;
    margin: 5px 5px !important;
  }
  .dashboardBody .twoColumn {
    width: 100%;
    display: inline-flex;
  }
  .dashboardBody .twoColumn .flex {
    display: flex;
    flex-direction: column;
  }
  .dashboardBody .twoColumn .flex .infoContainer {
    margin: auto 5px;
  }
  .dashboardBody .twoColumn .columnOne {
    height: 100%;
    margin: 0 5px 0 0;
  }
  .dashboardBody .twoColumn .columnTwo {
    height: 100%;
    margin: 0 0 0 5px;
  }
  .dashboardBody .twoColumn .XS {
    height: 100%;
    width: 10%;
  }
  .dashboardBody .twoColumn .S {
    width: calc(20% - 5px);
  }
  .dashboardBody .twoColumn .SM {
    width: calc(30% - 5px);
  }
  .dashboardBody .twoColumn .M40 {
    width: calc(40% - 5px);
  }
  .dashboardBody .twoColumn .M {
    width: calc(50% - 5px);
  }
  .dashboardBody .twoColumn .M60 {
    width: calc(60% - 5px);
  }
  .dashboardBody .twoColumn .ML {
    width: calc(70% - 5px);
  }
  .dashboardBody .twoColumn .L {
    width: calc(80% - 5px);
  }
  .dashboardBody .twoColumn .XL {
    width: calc(90% - 5px);
  }
  .dashboardBody .threeColumn {
    width: 100%;
    display: inline-flex;
    overflow: hidden;
  }
  .dashboardBody .threeColumn .flex {
    display: flex;
    flex-direction: column;
  }
  .dashboardBody .threeColumn .flex .infoContainer {
    margin: auto 5px;
  }
  .dashboardBody .threeColumn .columnOne {
    height: 100%;
    margin: 0 5px 0 0;
  }
  .dashboardBody .threeColumn .columnTwo {
    height: 100%;
    margin: 0 5px;
  }
  .dashboardBody .threeColumn .columnThree {
    height: 100%;
    margin: 0 0 0 5px;
  }
  .dashboardBody .threeColumn .S {
    width: calc(16.5% - 5px);
  }
  .dashboardBody .threeColumn .SM {
    width: calc(20% - 5px);
  }
  .dashboardBody .threeColumn .M {
    width: calc(33.3% - 5px);
  }
  .dashboardBody .threeColumn .ML {
    width: calc(41.75% - 5px);
  }
  .dashboardBody .threeColumn .L {
    width: calc(50% - 5px);
  }
  .dashboardBody .threeColumn .LL {
    width: calc(60% - 5px);
  }
  .dashboardBody .threeColumn .XL {
    width: calc(67% - 5px);
  }
  .dashboardBody .fourColumn {
    width: 100%;
    display: inline-flex;
  }
  .dashboardBody .fourColumn .flex {
    display: flex;
    flex-direction: column;
  }
  .dashboardBody .fourColumn .flex .infoContainer {
    margin: auto 5px;
  }
  .dashboardBody .fourColumn .columnOne {
    height: 100%;
    margin-right: 5px;
  }
  .dashboardBody .fourColumn .columnTwo {
    height: 100%;
    margin: 0 5px;
  }
  .dashboardBody .fourColumn .columnThree {
    height: 100%;
    margin: 0 5px;
  }
  .dashboardBody .fourColumn .columnFour {
    height: 100%;
    margin-left: 5px;
  }
  .dashboardBody .fourColumn .S {
    width: calc(16.5% - 10px);
  }
  .dashboardBody .fourColumn .M {
    width: calc(25% - 5px);
  }
  .dashboardBody .fourColumn .ML {
    width: calc(27.8% - 10px);
  }
  .dashboardBody .fourColumn .L {
    width: calc(50% - 10px);
  }
  .dashboardBody .fourColumn .XL {
    width: calc(67% - 10px);
  }
  .dashboardBody .shadow {
    box-shadow: rgba(78, 78, 78, 0.2117647059) 4px 4px 5px 0px;
  }
  .dashboardBody .transparent {
    background: transparent !important;
  }
  .dashboardBody .round {
    border-radius: 8px;
  }
  .dashboardBody .roundT {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
  .dashboardBody .roundB {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .dashboardBody .numberContainer {
    text-align: center;
    background: #000000;
    font-size: 2.5em;
    color: white;
    padding: 5px;
    overflow: hidden;
    margin: auto 0 auto 10px;
    display: flex;
    flex-direction: column;
  }
  .dashboardBody .numberContainer.first {
    margin: auto 5px auto 10px;
  }
  .dashboardBody .numberContainer.middle {
    margin: auto 5px auto 5px;
  }
  .dashboardBody .numberContainer.last {
    margin: auto 10px auto 5px;
  }
  .dashboardBody .numberContainerInvert {
    text-align: center;
    background: #c9c9c9;
    font-size: 2.5em;
    color: #000000;
    padding: 5px;
    overflow: hidden;
    margin: auto 10px auto 0;
    display: flex;
    flex-direction: column;
  }
  .dashboardBody .datanum {
    margin: auto 0;
  }
  .dashboardBody .textlabelS {
    margin-top: 10px;
    font-size: 13px;
    text-align: center;
    line-height: 2em;
  }
  .dashboardBody .infoContainerDiv {
    display: flex;
    justify-content: space-evenly;
    margin: auto 0;
  }
  .dashboardBody .infoContainerDiv .infoContainer {
    width: 50%;
  }
  .dashboardBody .infoContainerFlex {
    display: flex;
    justify-content: space-evenly;
  }
  .dashboardBody .infoContainerFlex .infoContainer {
    width: 50%;
    margin: auto 5px !important;
    line-height: 33px;
    font-size: 15px;
  }
  .dashboardBody .infoContainerFlex .infoContainer .head {
    background: #003c8f;
    color: white;
    line-height: 20px;
    font-size: 15px;
    padding: 3px;
    height: 42px;
  }
  .dashboardBody .infoContainer {
    background: #c9c9c9;
    margin: 10px 5px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    border-radius: 5px;
  }
  .dashboardBody .infoContainer .head {
    background: #003c8f;
    color: white;
    line-height: 20px;
    font-size: 15px;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .dashboardBody .infoContainer .body {
    height: calc(100% - 30px);
  }
  .dashboardBody .infoContainer .text-large {
    font-size: 20px;
  }
  .dashboardBody .infoContainer.large {
    line-height: 55px;
    font-size: 18px;
  }
  .dashboardBody .infoContainer.large .head {
    line-height: 25px;
    font-size: 16px;
  }
  .dashboardBody .spacer {
    padding: 5px 5px !important;
    height: calc(100% - 35px);
  }
  .dashboardBody .spacerTop {
    text-align: center;
    padding: 5px 0 0 0 !important;
    height: calc(100% - 40px) !important;
  }
  .dashboardBody .spacerTable {
    width: calc(100% - 20px) !important;
    margin: 0 10px !important;
  }
  .dashboardBody .containerHeader {
    background: #003c8f;
    width: 100%;
    height: 30px;
    text-align: center;
    color: white;
    line-height: 30px;
    overflow: hidden;
    font-size: 15px;
  }
  .dashboardBody .dash-charts {
    height: 100%;
    width: 100%;
  }
  .dashboardBody .tableContainer {
    height: 100%;
  }
  .dashboardBody .tableContainer.legend {
    overflow-y: hidden;
    height: auto;
  }
  .dashboardBody .tableContainer table {
    border-collapse: collapse;
    background-color: #ffffff;
    width: 100% !important;
  }
  .dashboardBody .tableContainer table.procurement td {
    border: 1px solid white;
    text-align: center;
  }
  .dashboardBody .tableContainer td {
    text-align: left;
    padding: 5px;
    border: none;
    font-size: 15px;
  }
  .dashboardBody .tableContainer th:first-child {
    border-top-left-radius: 0px;
  }
  .dashboardBody .tableContainer th:last-child {
    border-top-right-radius: 0px;
  }
  .dashboardBody .tableContainer tr:nth-of-type(even) {
    background: #f2f2f2;
  }
  .dashboardBody .tableContainer tr:nth-of-type(odd) {
    background: white;
  }
  .dashboardBody .tableContainer tr:hover {
    background-color: #ddd;
  }
  .dashboardBody .tableContainer tr.active {
    background-color: #ddd;
  }
  .dashboardBody .tableContainer tr.active td {
    font-weight: bold;
  }
  .dashboardBody .tableContainer th {
    background: #003c8f;
    color: white;
    text-align: left;
    padding: 8px;
    position: static !important;
    top: 0px;
  }
  .dashboardBody .tableContainer th.secondRow {
    top: 31px;
  }
  .dashboardBody .tableContainer th.bottom {
    bottom: 1px;
  }
  .dashboardBody .tableContainer th.secondRowBottom {
    bottom: 32px;
  }
  .dashboardBody .overflow-wrap {
    overflow-wrap: anywhere !important;
  }
  .dashboardBody .minimizeButton {
    display: none !important;
  }
}
@media print {
  .minimizeButton {
    display: none !important;
  }
  html, body {
    height: 210mm;
    width: 297mm;
  }
  .sidebar {
    display: none !important;
  }
  .layout {
    width: 98% !important;
  }
  @page {
    size: A4 landscape;
    margin: 3mm;
  }
}/*# sourceMappingURL=print.css.map */