body {
  background-color: #e4e4e4 !important;
}

.financePage {
  width: calc(100% - 1000px);
  background: #e4e4e4;
  padding: 20px 500px;
  overflow: auto;
  height: calc(100% - 180px);
  position: absolute;
  right: 0px;
  bottom: 0px;
  transition: 0.2s;
}
.financePage.active {
  width: calc(100% - 680px);
}
.financePage .filterContainer {
  margin: 0 0 35px 0;
  padding: 25px;
  width: calc(100% - 50px);
  height: 40px;
  text-align: center;
}
.financePage .filterContainer input {
  position: relative;
  height: 45px;
  width: 60%;
  outline: none;
  padding: 10px 40px 10px 50px;
  border-radius: 3px;
  border: none;
  color: black;
  background: #cecece;
  box-shadow: 0px 3px 5px #cecece;
  transition: 0.2s;
}
.financePage .filterContainer input:hover {
  background: white;
}
.financePage .filterContainer input.active {
  width: 45%;
}
.financePage .filterContainer img.icon {
  z-index: 1;
  width: 23px;
  height: 23px;
  position: relative;
  left: 44px;
  top: 8px;
}
.financePage .filterContainer img.clear {
  display: none;
  z-index: 1;
  width: 18px;
  height: 18px;
  position: relative;
  right: 35px;
  top: 5px;
}
.financePage .cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.financePage .cardContainer .card {
  position: relative;
  height: 130px;
  width: 130px;
  background: rgb(245, 245, 245);
  box-shadow: 0px 1px 5px rgba(153, 153, 153, 0.363);
  margin: 10px;
  text-align: center;
  transition: 0.12s;
  font-family: SegoeUI, Helvetica, Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  color: #3f3f3f;
}
.financePage .cardContainer .card:hover {
  z-index: 2;
  transform: scale(1.1, 1.1);
  box-shadow: 0px 3px 7px rgba(153, 153, 153, 0.5);
  cursor: pointer;
  color: red;
}
.financePage .cardContainer .card.active:hover {
  cursor: default;
}
.financePage .cardContainer .card.other {
  background: rgba(105, 105, 105, 0.466);
}
.financePage .cardContainer .card img {
  position: relative;
  height: 60px;
  margin: 15px 10px 3px 10px;
  width: 60px;
  display: inline-block;
  border-radius: 50%;
}
.financePage .cardContainer .card a.pName {
  position: relative;
  display: block;
  margin: 10px;
  height: 32px;
  width: 110px;
  overflow: hidden;
  font-size: 14px;
}
.financePage .cardContainer .card .buttonContainer {
  position: absolute;
  display: grid;
  top: 0px;
  left: 0px;
  grid-template-columns: 65px 65px;
  height: 100%;
  width: 100%;
  transition: 0.2s;
}
.financePage .cardContainer .card .buttonContainer button {
  color: rgb(160, 160, 160);
  display: none;
  background: transparent;
  outline: none;
  border: 0px;
  height: 65px;
  width: 65px;
  transition: 0.15s;
  overflow: hidden;
}
.financePage .cardContainer .card .buttonContainer button img.appicon {
  height: 37px;
  width: auto;
}
.financePage .cardContainer .card .buttonContainer button a.caption {
  font-size: 12px;
  display: none;
  width: 50px;
  overflow: hidden;
}
.financePage .cardContainer .card .buttonContainer button:hover {
  color: white;
  background: rgba(63, 63, 63, 0.692);
  cursor: pointer;
}
.financePage .cardContainer .card .buttonContainer button:hover img.appicon {
  display: none;
  transition: 0.5s;
}
.financePage .cardContainer .card .buttonContainer button:hover a.caption {
  display: block;
  transition: 0.5s;
}

.newsfeedOpen {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 77px;
  padding: 0.7rem;
  right: 0px;
  background-color: rgb(243, 243, 243);
  border: 0;
  border-radius: 4px 0px 0px 4px;
  display: none;
  cursor: pointer;
  line-height: 0.7rem;
}
.newsfeedOpen:hover {
  background-color: rgb(255, 255, 255);
}
.newsfeedOpen i {
  font-size: 1.4rem;
}
.newsfeedOpen span {
  font-size: 0.7rem;
}

.digitalReportOpen {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 9.5rem;
  padding: 0.7rem;
  right: 0px;
  background-color: rgb(243, 243, 243);
  border: 0;
  border-radius: 4px 0px 0px 4px;
  display: none;
  line-height: 0.7rem;
  cursor: pointer;
}
.digitalReportOpen:hover {
  background-color: rgb(255, 255, 255);
}
.digitalReportOpen i {
  color: #1f7ef3;
  --fa-primary-opacity: .4;
  --fa-secondary-opacity: 1;
  font-size: 1.4rem;
}
.digitalReportOpen span {
  font-size: 0.7rem;
}

.newsFeed {
  height: calc(100vh - 70px);
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 380px;
  right: 0px;
  top: 70px;
  position: absolute;
  z-index: 2;
  display: none;
}
.newsFeed.active {
  display: block;
}
.newsFeed .headerContainer {
  padding: 20px 20px;
  height: 15px;
  text-align: center;
}
.newsFeed .headerContainer a {
  font-weight: bold;
  display: inline-block;
  padding: 3px;
}
.newsFeed .headerContainer button {
  border-radius: 3px;
  display: inline-block;
  padding: 3px 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background: none;
  float: left;
  background: rgb(249, 249, 249);
  position: relative;
  top: -3px;
}
.newsFeed .headerContainer button:hover {
  background: white;
}
.newsFeed .contentContainer {
  padding: 0 10px !important;
  height: calc(100% - 55px);
  overflow-y: auto;
}
.newsFeed .contentContainer .newsCard {
  border-radius: 4px;
  max-height: 140px;
  margin: 20px 0;
  background-color: rgb(246, 245, 245);
  box-shadow: 1px 1px 5px 1px rgba(104, 104, 104, 0.5019607843);
  display: flex;
  flex-direction: row;
  overflow: hidden;
  cursor: pointer;
  transition: max-height 0.8s;
}
.newsFeed .contentContainer .newsCard:first-child {
  margin-top: 0px !important;
}
.newsFeed .contentContainer .newsCard .image {
  position: relative;
  width: 140px;
  height: 140px;
  background-color: black;
  vertical-align: middle;
  align-items: center;
  transition: unset;
}
.newsFeed .contentContainer .newsCard .image img {
  height: 100%;
  width: 140px;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: middle;
  align-items: center;
}
.newsFeed .contentContainer .newsCard .flexContainer {
  margin: 10px 15px 5px 10px;
  width: calc(100% - 165px);
}
.newsFeed .contentContainer .newsCard .flexContainer .title {
  font-weight: bold;
  padding-top: 7px;
  color: #4b4b4b;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 18px;
}
.newsFeed .contentContainer .newsCard .flexContainer .desc {
  display: -webkit-box;
  overflow: hidden;
  font-size: 11px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  margin: 10px 0px 15px 0;
  color: #6e6e6e;
  cursor: pointer;
  height: 50px;
}
.newsFeed .contentContainer .newsCard .flexContainer .desc img {
  margin: 10px auto;
  width: 50% !important;
  height: auto;
  display: flex;
}
.newsFeed .contentContainer .newsCard .flexContainer .desc iframe {
  width: 100% !important;
}
.newsFeed .contentContainer .newsCard .flexContainer .desc p {
  margin: 0;
}
.newsFeed .contentContainer .newsCard .flexContainer .footer i {
  font-size: 12px;
}
.newsFeed .contentContainer .newsCard .flexContainer .footer .timeStamp {
  display: inline-block;
  font-size: 11px;
  color: #6e6e6e;
}
.newsFeed .contentContainer .newsCard .flexContainer .footer button {
  float: right;
  background: none;
  border: none;
  color: #6e6e6e;
  font-size: 11px;
  display: inline-block;
  padding: 4px 0;
  cursor: pointer;
}
.newsFeed .contentContainer .newsCard .flexContainer .footer button.liked {
  color: rgb(68, 156, 251);
}
.newsFeed .contentContainer .newsCard.openCard {
  flex-direction: column;
  max-height: 1500px;
  background: white;
}
.newsFeed .contentContainer .newsCard.openCard .image {
  width: 100%;
  transition: all 0.2s;
}
.newsFeed .contentContainer .newsCard.openCard .image img {
  width: 100%;
  filter: brightness(0.85);
}
.newsFeed .contentContainer .newsCard.openCard .flexContainer {
  width: calc(100% - 20px);
}
.newsFeed .contentContainer .newsCard.openCard .flexContainer .title {
  overflow: unset;
  text-overflow: unset;
  white-space: unset;
  height: auto;
}
.newsFeed .contentContainer .newsCard.openCard .flexContainer .desc {
  height: calc(100% - 70px);
  -webkit-line-clamp: unset;
  overflow-y: auto;
  transition: max-height 0.8s;
}

.newsFeedModal {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  background: rgba(255, 255, 255, 0.431372549);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.newsFeedModal #closeNewsModal {
  position: absolute;
  width: 1.7rem;
  height: 1.7rem;
  z-index: 10;
  top: 5vh;
  right: 20vw;
  /* width: 40px; */
  border-radius: 50%;
  transform: translate(50%, -50%);
  cursor: pointer;
  border: 0;
  background: rgb(17, 57, 167);
  color: white;
}
.newsFeedModal .newsFeedContent {
  border-radius: 4px;
  height: 90vh;
  margin: 5vh 20vw;
  background-color: rgb(246, 245, 245);
  box-shadow: 1px 1px 5px 1px rgba(104, 104, 104, 0.5019607843);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: max-height 0.8s;
}
.newsFeedModal .newsFeedContent .backgroundImage {
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  filter: blur(20px);
  top: 0px;
  left: 0px;
}
.newsFeedModal .newsFeedContent .image {
  position: relative;
  width: 100%;
  height: 10rem;
  background-color: black;
  vertical-align: middle;
  align-items: center;
  transition: unset;
  text-align: center;
}
.newsFeedModal .newsFeedContent .image img {
  height: calc(100% - 20px);
  width: auto;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: middle;
  align-items: center;
  filter: brightness(0.95);
  margin: 10px 0;
}
.newsFeedModal .newsFeedContent .flexContainer {
  margin: 0;
  width: 100%;
  height: calc(100% - 10rem);
}
.newsFeedModal .newsFeedContent .flexContainer .title {
  font-weight: bold;
  padding: 1.3rem 2rem 0.2em 2rem;
  color: #4b4b4b;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.5rem;
}
.newsFeedModal .newsFeedContent .flexContainer .desc {
  font-size: 1rem;
  margin: 0.7rem 0;
  padding: 0 2rem;
  line-height: 1.4rem;
  color: #464646;
  display: flex;
  flex-direction: column;
  height: calc(100% - 6rem);
  overflow-y: auto;
}
.newsFeedModal .newsFeedContent .flexContainer .desc p {
  margin-top: 1rem;
  line-height: 1.4rem;
}
.newsFeedModal .newsFeedContent .flexContainer .desc p:nth-child(1) {
  margin: 0;
}
.newsFeedModal .newsFeedContent .flexContainer .desc p img {
  margin: 10px auto;
  width: clamp(40%, 40%, 350px) !important;
  height: auto !important;
  display: flex;
}
.newsFeedModal .newsFeedContent .flexContainer .desc p iframe {
  width: 100% !important;
}
.newsFeedModal .newsFeedContent .flexContainer .footer {
  padding: 0 2rem;
  color: #6e6e6e;
  font-size: 0.7rem;
}
.newsFeedModal .newsFeedContent .flexContainer .footer i {
  font-size: 0.8rem;
}
.newsFeedModal .newsFeedContent .flexContainer .footer .timeStamp {
  display: inline-block;
  font-size: 0.75rem;
}
.newsFeedModal .newsFeedContent .flexContainer .footer button {
  background: none;
  border: none;
  color: #6e6e6e;
  font-size: 0.75rem;
  display: inline-block;
  padding: 4px 0;
  cursor: pointer;
}
.newsFeedModal .newsFeedContent .flexContainer .footer button.liked {
  color: rgb(68, 156, 251);
}

@media (-webkit-min-device-pixel-ratio: 1.25) {
  .financePage {
    width: calc(100% - 1000px);
    background: #e4e4e4;
    padding: 20px 500px;
    overflow: auto;
    height: calc(100% - 100px);
    position: absolute;
    right: 0px;
    bottom: 0px;
    transition: 0.2s;
  }
  .financePage.active {
    width: calc(100% - 680px);
  }
  .financePage .filterContainer {
    margin: 0 0 35px 0;
    padding: 25px;
    width: calc(100% - 50px);
    height: 40px;
    text-align: center;
  }
  .financePage .filterContainer input {
    position: relative;
    height: 25px;
    width: 60%;
    outline: none;
    padding: 10px 40px 10px 50px;
    border-radius: 3px;
    border: none;
    color: black;
    background: #cecece;
    box-shadow: 0px 3px 5px #cecece;
    transition: 0.2s;
  }
  .financePage .filterContainer input:hover {
    background: white;
  }
  .financePage .filterContainer input.active {
    width: 45%;
  }
  .financePage .filterContainer img.icon {
    z-index: 1;
    width: 23px;
    height: 23px;
    position: relative;
    left: 44px;
    top: 8px;
  }
  .financePage .filterContainer img.clear {
    display: none;
    z-index: 1;
    width: 18px;
    height: 18px;
    position: relative;
    right: 35px;
    top: 5px;
  }
  .financePage .cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  .financePage .cardContainer .card {
    position: relative;
    height: 100px;
    width: 100px;
    background: rgb(245, 245, 245);
    box-shadow: 0px 1px 5px rgba(153, 153, 153, 0.363);
    margin: 10px;
    text-align: center;
    transition: 0.12s;
    font-family: SegoeUI, Helvetica, Arial, sans-serif;
    font-size: 10px;
    overflow: hidden;
    color: #3f3f3f;
  }
  .financePage .cardContainer .card:hover {
    z-index: 2;
    transform: scale(1.1, 1.1);
    box-shadow: 0px 3px 7px rgba(153, 153, 153, 0.5);
    cursor: pointer;
    color: red;
  }
  .financePage .cardContainer .card.active:hover {
    cursor: default;
  }
  .financePage .cardContainer .card.other {
    background: rgba(105, 105, 105, 0.466);
  }
  .financePage .cardContainer .card img {
    overflow: hidden;
    font-size: 10px;
    position: relative;
    height: 45px;
    margin: 15px 10px 3px 10px;
    width: 45px;
    display: inline-block;
    border-radius: 50%;
  }
  .financePage .cardContainer .card a.pName {
    position: relative;
    display: block;
    margin: 2px 2px;
    height: 20px;
    width: 96px;
    overflow: hidden;
    font-size: 10px;
  }
  .financePage .cardContainer .card .buttonContainer {
    position: absolute;
    display: grid;
    top: 0px;
    left: 0px;
    grid-template-columns: 50px 50px;
    height: 100%;
    width: 100%;
    transition: 0.2s;
  }
  .financePage .cardContainer .card .buttonContainer button {
    color: rgb(160, 160, 160);
    display: none;
    background: transparent;
    outline: none;
    border: 0px;
    height: 50px;
    width: 50px;
    transition: 0.15s;
    overflow: hidden;
  }
  .financePage .cardContainer .card .buttonContainer button img.appicon {
    height: 25px;
    width: auto;
  }
  .financePage .cardContainer .card .buttonContainer button a.caption {
    font-size: 10px;
    display: none;
    width: 50px;
    position: relative;
    left: -5px;
    overflow: hidden;
  }
  .financePage .cardContainer .card .buttonContainer button:hover {
    color: white;
    background: rgba(63, 63, 63, 0.692);
    cursor: pointer;
  }
  .financePage .cardContainer .card .buttonContainer button:hover img.appicon {
    display: none;
    transition: 0.5s;
  }
  .financePage .cardContainer .card .buttonContainer button:hover a.caption {
    display: block;
    transition: 0.5s;
  }
  .newsFeed {
    top: 50px;
    height: calc(100vh - 50px);
  }
}
@media screen and (max-width: 319px) {
  .newsFeedModal .newsFeedContent .flexContainer .desc p img {
    width: 100% !important;
  }
}
@media screen and (max-width: 480px) {
  .newsFeedModal .newsFeedContent .flexContainer .desc p img {
    width: 100% !important;
  }
}
@media screen and (max-width: 520px) {
  .newsFeedModal .newsFeedContent .flexContainer .desc p img {
    width: clamp(80%, 80%, 350px) !important;
  }
}
@media screen and (max-width: 800px) {
  .newsFeedModal .newsFeedContent .flexContainer .desc p img {
    width: clamp(60%, 60%, 350px) !important;
  }
}
@media screen and (max-width: 1366px) {
  .financePage {
    width: calc(100% - 1000px);
    background: #e4e4e4;
    padding: 20px 500px;
    overflow: auto;
    height: calc(100% - 120px);
    position: absolute;
    right: 0px;
    bottom: 0px;
    transition: 0.2s;
  }
  .financePage.active {
    width: calc(100% - 680px);
  }
  .financePage .filterContainer {
    margin: 0 0 35px 0;
    padding: 25px;
    width: calc(100% - 50px);
    height: 40px;
    text-align: center;
  }
  .financePage .filterContainer input {
    position: relative;
    height: 25px;
    width: 60%;
    outline: none;
    padding: 10px 40px 10px 50px;
    border-radius: 3px;
    border: none;
    color: black;
    background: #cecece;
    box-shadow: 0px 3px 5px #cecece;
    transition: 0.2s;
  }
  .financePage .filterContainer input:hover {
    background: white;
  }
  .financePage .filterContainer input.active {
    width: 45%;
  }
  .financePage .filterContainer img.icon {
    z-index: 1;
    width: 23px;
    height: 23px;
    position: relative;
    left: 44px;
    top: 8px;
  }
  .financePage .filterContainer img.clear {
    display: none;
    z-index: 1;
    width: 18px;
    height: 18px;
    position: relative;
    right: 35px;
    top: 5px;
  }
  .financePage .cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  .financePage .cardContainer .card {
    position: relative;
    height: 100px;
    width: 100px;
    background: rgb(245, 245, 245);
    box-shadow: 0px 1px 5px rgba(153, 153, 153, 0.363);
    margin: 10px;
    text-align: center;
    transition: 0.12s;
    font-family: SegoeUI, Helvetica, Arial, sans-serif;
    font-size: 10px;
    overflow: hidden;
    color: #3f3f3f;
  }
  .financePage .cardContainer .card:hover {
    z-index: 2;
    transform: scale(1.1, 1.1);
    box-shadow: 0px 3px 7px rgba(153, 153, 153, 0.5);
    cursor: pointer;
    color: red;
  }
  .financePage .cardContainer .card.active:hover {
    cursor: default;
  }
  .financePage .cardContainer .card.other {
    background: rgba(105, 105, 105, 0.466);
  }
  .financePage .cardContainer .card img {
    overflow: hidden;
    font-size: 10px;
    position: relative;
    height: 45px;
    margin: 15px 10px 3px 10px;
    width: 45px;
    display: inline-block;
    border-radius: 50%;
  }
  .financePage .cardContainer .card a.pName {
    position: relative;
    display: block;
    margin: 2px 2px;
    height: 20px;
    width: 96px;
    overflow: hidden;
    font-size: 10px;
  }
  .financePage .cardContainer .card .buttonContainer {
    position: absolute;
    display: grid;
    top: 0px;
    left: 0px;
    grid-template-columns: 50px 50px;
    height: 100%;
    width: 100%;
    transition: 0.2s;
  }
  .financePage .cardContainer .card .buttonContainer button {
    color: rgb(160, 160, 160);
    display: none;
    background: transparent;
    outline: none;
    border: 0px;
    height: 50px;
    width: 50px;
    transition: 0.15s;
    overflow: hidden;
  }
  .financePage .cardContainer .card .buttonContainer button img.appicon {
    height: 25px;
    width: auto;
  }
  .financePage .cardContainer .card .buttonContainer button a.caption {
    font-size: 10px;
    display: none;
    width: 50px;
    position: relative;
    left: -5px;
    overflow: hidden;
  }
  .financePage .cardContainer .card .buttonContainer button:hover {
    color: white;
    background: rgba(63, 63, 63, 0.692);
    cursor: pointer;
  }
  .financePage .cardContainer .card .buttonContainer button:hover img.appicon {
    display: none;
    transition: 0.5s;
  }
  .financePage .cardContainer .card .buttonContainer button:hover a.caption {
    display: block;
    transition: 0.5s;
  }
  .newsFeed {
    top: 50px;
    height: calc(100vh - 50px);
  }
}
@media screen and (max-width: 1700px) {
  .financePage {
    width: calc(100% - 800px);
    padding: 20px 400px;
  }
}
@media screen and (max-width: 1500px) {
  .financePage {
    width: calc(100% - 600px);
    padding: 20px 300px;
  }
}
@media screen and (max-width: 1300px) {
  .financePage {
    width: calc(100% - 400px);
    padding: 20px 200px;
  }
}
@media screen and (max-width: 1100px) {
  .financePage {
    width: calc(100% - 20px);
    padding: 20px 100px;
  }
}
@media screen and (max-width: 1000px) {
  .financePage {
    width: calc(100% - 20px);
    padding: 20px 10px;
  }
}
.card-background {
  opacity: 0.6;
  background: #C8EBFB;
}/*# sourceMappingURL=postlogin.css.map */